@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #f6f6f6;
  --secondary: #597dff;
  --dark: #232323;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--primary);
}

@import "./navbar";
@import "./homepage";
@import "./card";
@import "./shopcard";
@import "./shop";
@import './product'
